= form_for @reise, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :grund, :class => 'control-label'
    .controls
      = f.text_field :grund, :class => 'text_field'
  .control-group
    = f.label :abfahrtDatum, :class => 'control-label'
    .controls
      = f.text_field :abfahrtDatum, :class => 'text_field'
  .control-group
    = f.label :abfahrtUhrzeit, :class => 'control-label'
    .controls
      = f.text_field :abfahrtUhrzeit, :class => 'text_field'
  .control-group
    = f.label :ankunftDatum, :class => 'control-label'
    .controls
      = f.text_field :ankunftDatum, :class => 'text_field'
  .control-group
    = f.label :ankunftUhrzeit, :class => 'control-label'
    .controls
      = f.text_field :ankunftUhrzeit, :class => 'text_field'
  .control-group
    = f.label 'privater Pkw', :class => 'control-label'
    .controls
      = f.check_box :privatPkw, :class => 'check_box'
  .control-group
    = f.label :kilometer, :class => 'control-label'
    .controls
      = f.text_field :kilometer, :class => 'text_field'
  .control-group
    = f.label 'weitere Fahrtkosten', :class => 'control-label'
    .controls
      = f.text_field :weitereFahrtkosten, :class => 'text_field'
  .control-group
    = f.label :betrag, :class => 'control-label'
    .controls
      = f.number_field :betrag, :class => 'number_field'
  .control-group
    = f.label 'Übernachtungskosten', :class => 'control-label'
    .controls
      = f.text_field :uebernachtungskosten, :class => 'text_field'
  .control-group
    = f.label 'inkl Frühstück', :class => 'control-label'
    .controls
      = f.check_box :uebernachtungInklFruehstueck, :class => 'check_box'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), reises_path, :class => 'btn'
