= form_for @reise, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :grund, "Reisegrund", :class => 'control-label'
    .controls
      = f.text_field :grund, :class => 'text_field'
  .control-group
    = f.label :ankunft, :class => 'control-label'
    .controls
      #datetimepickerAnkunft.input-append.date
        %input#reise_ankunft{:value => @reise.ankunft.strftime('%Y-%m-%d %I:%M:%S'), :name => "reise[ankunft]", "data-format" => "yyyy-MM-dd hh:mm:ss", :type => "text"}
          %span.add-on
            %i{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time"}
  .control-group
    = f.label :abreise, :class => 'control-label'
    .controls
      #datetimepickerAbreise.input-append.date
        %input#reise_abreise{:value => @reise.abreise.strftime('%Y-%m-%d %I:%M:%S'), :name => "reise[abreise]", "data-format" => "yyyy-MM-dd hh:mm:ss", :type => "text"}
          %span.add-on
            %i{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time"}
  .control-group
    = f.label :privatPkw, "privater PKW", :class => 'control-label'
    .controls
      = f.check_box :privatPkw, :class => 'check_box'
  .control-group
    = f.label :kilometer, :class => 'control-label'
    .controls
      = f.text_field :kilometer, :class => 'text_field'
  .control-group
    = f.label :weitereFahrtkosten, "weitere Fahrtkosten", :class => 'control-label'
    .controls
      = f.text_field :weitereFahrtkosten, :class => 'text_field'
  .control-group
    = f.label :betrag, :class => 'control-label'
    .controls
      = f.text_field :betrag, :class => 'text_field'
  .control-group
    = f.label :uebernachtungskosten, "Übernachtungskosten", :class => 'control-label'
    .controls
      = f.text_field :uebernachtungskosten, :class => 'text_field'
  .control-group
    = f.label :uebernachtungInklFruehstueck, "inkl. Frühstück", :class => 'control-label'
    .controls
      = f.check_box :uebernachtungInklFruehstueck, :class => 'check_box'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), reises_path, :class => 'btn'
