- model_class = Pauschale
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:stunden)
      %th= model_class.human_attribute_name(:betrag)
      %th= model_class.human_attribute_name(:typ)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @pauschales.each do |pauschale|
      %tr
        %td= pauschale.stunden
        %td= pauschale.betrag
        %td= pauschale.typ
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_pauschale_path(pauschale), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), pauschale_path(pauschale), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_pauschale_path, :class => 'btn btn-primary'
