!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= content_for?(:title) ? yield(:title) : "Reisekosten"
    = wicked_pdf_stylesheet_link_tag "pdf"
    = wicked_pdf_javascript_include_tag "number_pages"

    :javascript
      function number_pages() {
          var vars={};
          var x=document.location.search.substring(1).split('&');
          for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
          var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
          for(var i in x) {
            var y = document.getElementsByClassName(x[i]);
            for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
          }

  %body{:onload => "number_pages()"}

    %h1 Reisekostenabrechnung

    = yield

    /Page %span.page of %span.topage

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
